/* src/styles/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional styles */
.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.autocomplete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #c9a6ff, #8362f8); /* Adjust the color stops */
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Customize Autocomplete input styles */
  .autocomplete-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Customize Autocomplete dropdown styles */
  .autocomplete-dropdown {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Customize Autocomplete option styles */
  .autocomplete-option {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .autocomplete-option:hover {
    background-color: #f0f0f0;
  }